
section{
    display: flex;  
    background-color: aliceblue;
    box-shadow: 30px 30px 20px rgb(58, 5, 98);
    border-radius: 23px;
    margin: 5%;
    padding-bottom: 4%;
    max-width: 700px;  

}
body{
    background-color: rgb(249, 240, 240);
}

.flor{
    display: flex;
    flex-direction: column;
    
}
   

.flex{
    display: flex;
    flex-direction: column;
    width: 94%;
    margin-left: 3%;
    margin-top: 3%;
    
   
}

button{
    width: 200px;
    height: 25px;
}




